<!--
TODO
  Implement markdown buttons
  Create form to submit this data to the database
  Timed release widget
  Create a post management page to remove and release posts

-->

{% extends "mapApp/base.html" %}

{% block title %}BikeMaps Blog{% endblock %}

{% load webdesign staticfiles %}


{% block headerCSS %}
<!-- CSS here -->
{% endblock %}


{% block headerJS %}
<!-- JS here -->
  <!-- moment.js date library -->
  <script src="{% static 'moment/moment.min.js' %}"></script>
{% endblock %}


{% block body %}
<style media="screen">
  #id_title{
    background-color: transparent;
    border: 1px solid;
  }
  #id_category{
    background-color: transparent;
    border: 1px solid;
  }
  #id_body{
    width: 100%;
    border: 1px solid;
  }
</style>

<div class="container">
    <div class="row">
        <h1>New Blog Post</h1>
        <div class="col-xs-10">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="text-center"><a>Title: {{ post_form.title }}</a></h2>
                    <h5 class="text-center"><a>Category: {{ post_form.category }}</a></h5>
                </div>
                <div class="panel-body">
                    <p>Body:</p>
                    <p>{{ post_form.body }}</p>

                </div>
                <div class="panel-footer container-fluid">
                    <div class="text-left col-xs-6">
                        <em>By: {{ request.user }}</em>
                    </div>
                    <div class="text-right col-xs-6">
                        <em id="post-date"> Post Date: </em>
                    </div>
                </div>
            </div>
            <!-- Save button -->
            <button type="button" class="btn btn-success pull-right">Save</button>
        </div>

        <div class="col-xs-2">
            <div class="btn-group-vertical" role="group" aria-label="markdown buttons">
                <button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-italic" aria-hidden="true"></span></button>
                <button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-bold" aria-hidden="true"></span></button>
                <button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-list" aria-hidden="true"></span></button>
                <button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-link" aria-hidden="true"></span></button>
                <button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span></button>
                <button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span></button>
            </div>

            <br>
            {{ post_form.is_draft }} Draft
            <br>
            Slug: {{ post_form.slug }}
            <br>
            Timed release widget here
        </div>

    </div>
</div>

<script charset="utf-8">
  var date = moment().format('MMM. DD, YYYY, hh:mm a')
  $("#post-date").append(date);
</script>

{% endblock %}
