<!--
TODO
  Implement create page
  Render markdown to html
-->

{% extends "mapApp/base.html" %}

{% block title %}BikeMaps Blog{% endblock %}

{% load webdesign %}


{% block headerCSS %}
<!-- CSS here -->
{% endblock %}


{% block headerJS %}
<!-- JS here -->
{% endblock %}


{% block body %}
<div class="container">
    <div class="row">
        <h1>BikeMaps Blog</h1>
        <div class="col-xs-10">

            <!-- Blog Posts -->
            {% for post in posts %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="text-center"><a href="{% url 'blog:post' slug=post.slug %}">{{ post.title|safe }}</a></h2>
                </div>
                <div class="panel-body">
                    {{ post.body|safe }}
                    {% lorem 2 p random %}
                </div>
                <div class="panel-footer container-fluid">
                    <div class="text-left col-xs-6">
                        <em>By: {{ post.author }}</em>
                    </div>
                    <div class="text-right col-xs-6">
                        <em>{{ post.post_date }}</em>
                    </div>
                </div>
            </div>
            {% endfor %}

            <!-- Next and Previous Buttons -->
            <nav>
                <ul class="pager">
                    <li class="next {% if not next_page_exists %}hidden{% endif %}">
                      <a href="{% url 'blog:index' page=next_page %}">Older <span aria-hidden="true">&rarr;</span></a>
                    </li>
                    <li class="previous {% if not prev_page_exists %}hidden{% endif %}">
                      <a href="{% url 'blog:index' page=prev_page %}"><span aria-hidden="true">&larr;</span> Newer</a>
                    </li>
                </ul>
            </nav>
        </div>

        <!-- Category List -->
        <div class="col-xs-2">
            {% for category in categories %}
            <p>{{ category.title }}</p>
            {% endfor %}
        </div>

    </div>
</div>

{% endblock %}
